@MEDIA print
{
html, body {padding:0;margin:0;min-height:0}
.slide {height:auto;min-height:0}
.bodyNoScroll .slide  {display:none}
/* Hidden */
.pagination, .header, .headerSpacer1, .headerSpacer2, .headerTabs {
	display: none;
}
.overlayPanelBack,
.overlayBack {
	background: transparent;
}
.overlayPanel,
.overlay {
	position: absolute;
	height: auto;
	min-height: 100%;
}
.overlayPanel, .overlayPanel2, .overlayPanel3,
.overlay, .overlay2, .overlay3 {
	background: transparent;
	overflow: visible;
	height: auto;
	min-height: 0;
}
.overlayPanel3,
.overlay3 {
	position: absolute;
	padding-top: 0px;
	margin-bottom: 0px;
	width: 100%;
	margin: 0;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	overflow: visible;
}
.overlayPanel3 > div,
.overlay3 > div {
	background: #FFF;
}
.overlayPanel .closeButton,
.overlay .closeButton {
	display: none;
}

.sideNote.legal {
	-webkit-transform: translateY(0%);
	-ms-transform: translateY(0%);
	transform: translateY(0%);
	position: fixed;
	bottom: 0;
	top: auto;
	height: auto;
}
.sideNote.legal div {
	-ms-transform-origin: top left;
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
	position: absolute;
	bottom: 0;
	top: auto;
	height: auto;
}
}